@charset "utf-8";
@import url("reset.css");
html,body,.box{
	width:100%;
}
body{
	font-size:14px;
	font-family:"微软雅黑";
}
@mixin pos($p:relative){
	position:$p;
}
.header{
	width:100%;
	height:0.88rem;
	@include pos(fixed);
	left:0;
	top:0;
	z-index:1000;
	background:#fff;
	h1{
		text-align:center;
		line-height:0.88rem;
		font-size:0.3rem;
	}
	a{
		@include pos(absolute);
		&:nth-of-type(1){
			width:1.19rem;
			height:0.99rem;
			top:50%;
			margin-top:-0.49rem;
			background:url(../img/title_back.png) no-repeat;
			background-size:100% 100%;
		}
		&:nth-of-type(2){
			width:0.54rem;
			height:0.36rem;
			background: url("../img/share_text.png") no-repeat;
			background-size:auto 100%;
			right:10px;
			top:50%;
			margin-top:-0.18rem;
		}
	}
}
.main{
	width:100%;
	height:auto;
	margin-top:0.88rem;
	background:#fffadc;
}
.banner{
	width:100%;
	img{
		width:100%;
	}
}
.remai{
	width:100%;
	margin-top:-5px;
	img{
		width:100%;
	}	
}
.top{
	width:94%;
	height:auto;
	margin:0 auto;
}
.list{
	width:100%;
	height:5.2rem;
	background:#fff;
	margin-bottom:10px;
	dl{
		width:100%;
		height:100%;
		padding:10px;
		position:relative;
	}
	em{
		position:absolute;
		width:1.44rem;
		height:0.5rem;
		background:#3d414a;
		border-radius:0.5rem;
		font-style:normal;
		text-align:center;
		line-height:0.5rem;
		color:#fff;
		font-size:0.25rem;
		right:32px;
		top:15px;
	}
	dt{
		width:6.7rem;
		height:3.17rem;
		img{
			wdith:100%;
			height:100%;
		}
	}
	dd{
		margin-top:10px;
		p{
			font-size:0.27rem;
		}
		div{
			font-size:0.22rem;
			color:#969696;
			position:relative;
			span{
				font-size:0.27rem;
			}
			i{
				font-style:normal;
				color:red;
			}
			a{
				position:absolute;
				right:10px;
				top:50%;
				width:1.04rem;
				height:0.56rem;
				margin-top:-0.28rem;
				background:#e0283e;
				border-radius:5px;
				font-size:0.23rem;
				color:#fff;
				text-align:center;
				line-height:0.56rem;
			}
		}
	}
}
.zhitong{
	width:100%;
	img{
		width:100%;
	}
}