@charset "UTF-8";
@import url("reset.css");
html, body, .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f2f2f2; }

a {
  color: #000; }

i, em {
  font-style: normal; }

html, body, .container {
  background: #efeff4; }

body {
  font-size: 0.32rem;
  font-family: "微软雅黑"; }

.container {
  display: -webkit-flex;
  -webkit-flex-direction: column; }

.header {
  display: none;
  width: 100%;
  height: 0.82rem;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  position: relative; }
  .header h1 {
    color: #000;
    font-size: .32rem;
    text-align: center;
    line-height: 0.82rem; }
  .header span:nth-of-type(1) {
    width: 0.22rem;
    height: 0.36rem;
    background: url(../img/IMG_3431_06.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    margin-top: -0.18rem;
    font-size: 0;
    left: .3rem; }
  .header span:nth-of-type(2) {
    width: 0.39rem;
    height: 0.41rem;
    background: url(../img/IMG_3431_03.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    margin-top: -0.18rem;
    font-size: 0;
    right: .3rem; }

.main {
  width: 100%;
  -webkit-flex: 1;
  overflow-y: scroll; }

.banner {
  width: 100%;
  height: 4rem;
  background: url(../img/20160824043523854.jpg) no-repeat;
  background-size: cover;
  position: relative; }
  .banner p {
    color: #fff;
    position: absolute;
    left: .15rem;
    bottom: 10px; }
  .banner span {
    width: .7rem;
    height: .42rem;
    background: url(../img/image_size.png) no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 30px;
    color: #fff;
    text-align: right;
    line-height: .42rem; }
  .banner i:nth-of-type(1) {
    width: 0.42rem;
    height: 0.42rem;
    background: url(../img/back_detail.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: .3rem;
    font-size: 0;
    left: .3rem; }
  .banner i:nth-of-type(2) {
    width: 0.42rem;
    height: 0.42rem;
    background: url(../img/share_detail.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: .3rem;
    font-size: 0;
    right: .3rem; }

.baoji {
  width: 100%;
  height: .8rem;
  background: #fff;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0; }
  .baoji p {
    line-height: .8rem;
    padding-left: 1rem;
    font-size: .3rem;
    background: url(../img/location.png) no-repeat 0.5rem center;
    background-size: .23rem .23rem; }
  .baoji span {
    width: 0.14rem;
    height: 0.22rem;
    background: url(../img/20160901144457_07.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    margin-top: -0.065rem;
    font-size: 0;
    right: .3rem; }

.ms {
  width: 100%;
  height: .8rem;
  background: #fff;
  margin-top: .3rem;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0; }
  .ms p {
    line-height: .8rem;
    padding-left: 1rem;
    font-size: .3rem;
    background: url(../img/ticket_1.png) no-repeat 0.5rem center;
    background-size: .23rem .23rem; }
  .ms span {
    width: 0.18rem;
    height: 0.11rem;
    background: url(../img/arrow_up_expanablelistview1.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    margin-top: -0.05rem;
    font-size: 0;
    right: .3rem; }
    .ms span.bg {
      width: 0.18rem;
      height: 0.11rem;
      background: url(../img/arrow_down_expanablelistview1.png) no-repeat;
      background-size: cover;
      position: absolute;
      top: 50%;
      margin-top: -0.05rem;
      font-size: 0;
      right: .3rem; }

.nine {
  height: 2.3rem;
  display: none;
  border-bottom: 1px solid #e0e0e0;
  position: relative; }
  .nine p {
    font-size: .28rem;
    padding: .15rem .3rem;
    line-height: 23px; }
  .nine span:nth-of-type(1) {
    position: absolute;
    left: 0.3rem;
    top: 60px;
    color: #f90;
    font-size: .25rem; }
  .nine span:nth-of-type(2) {
    position: absolute;
    left: 250px;
    top: 53px;
    color: #f60;
    font-size: .36rem;
    font-weight: bold; }
  .nine span:nth-of-type(3) {
    position: absolute;
    left: 250px;
    top: 70px;
    color: #757575;
    font-size: .28rem;
    text-decoration: line-through; }
  .nine span:nth-of-type(4) {
    position: absolute;
    left: 0.3rem;
    top: 80px;
    color: #757575;
    font-size: .28rem;
    text-decoration: underline; }
  .nine ul {
    width: 1.4rem;
    position: absolute;
    left: 300px;
    top: 56px;
    color: #757575; }
    .nine ul li {
      padding: 2px 0;
      font-size: .28rem;
      text-align: center; }
      .nine ul li:nth-of-type(1) {
        border: 1px solid #f90;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        background: #f90;
        color: #fff; }
      .nine ul li:nth-of-type(2) {
        border: 1px solid #f90;
        border-radius: 0 0 5px 5px;
        color: #f90; }

#nine1 {
  display: none; }

#nine2 {
  display: none; }

.spec {
  height: 2.3rem;
  border-bottom: 1px solid #e0e0e0;
  position: relative; }
  .spec p {
    font-size: .28rem;
    padding: .15rem .3rem;
    line-height: 23px; }
  .spec span:nth-of-type(1) {
    position: absolute;
    left: 0.3rem;
    top: 60px;
    color: #f90;
    font-size: .25rem; }
  .spec span:nth-of-type(2) {
    position: absolute;
    left: 250px;
    top: 53px;
    color: #f60;
    font-size: .36rem;
    font-weight: bold; }
  .spec span:nth-of-type(3) {
    position: absolute;
    left: 250px;
    top: 70px;
    color: #757575;
    font-size: .28rem;
    text-decoration: line-through; }
  .spec span:nth-of-type(4) {
    position: absolute;
    left: 0.3rem;
    top: 80px;
    color: #757575;
    font-size: .28rem;
    text-decoration: underline; }
  .spec ul {
    width: 1.4rem;
    position: absolute;
    left: 300px;
    top: 56px;
    color: #757575; }
    .spec ul li {
      padding: 2px 0;
      font-size: .28rem;
      text-align: center; }
      .spec ul li:nth-of-type(1) {
        border: 1px solid #f90;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        background: #f90;
        color: #fff; }
      .spec ul li:nth-of-type(2) {
        border: 1px solid #f90;
        border-radius: 0 0 5px 5px;
        color: #f90; }

.star {
  background: #fff; }
  .star h3 {
    width: 100%;
    line-height: .84rem;
    padding-left: 1rem;
    border-bottom: 1px solid #e0e0e0;
    background: url(../img/tese.png) no-repeat 0.5rem center;
    background-size: .23rem .23rem; }
  .star p {
    padding: .15rem .15rem;
    line-height: 23px; }

ol {
  margin-top: 12px; }
  ol li {
    height: .8rem;
    padding-left: 1rem;
    line-height: .8rem; }
    ol li:nth-of-type(1) {
      border-bottom: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0;
      background: #fff url(../img/ticketpub.png) no-repeat 0.5rem center;
      background-size: .2rem .22rem;
      position: relative; }
      ol li:nth-of-type(1) span {
        width: 0.14rem;
        height: 0.22rem;
        background: url(../img/20160901144457_07.png) no-repeat;
        background-size: cover;
        position: absolute;
        top: 50%;
        margin-top: -0.11rem;
        font-size: 0;
        right: .3rem; }
    ol li:nth-of-type(2) {
      border-bottom: 1px solid #e0e0e0;
      background: #fff url(../img/ticketpub.png) no-repeat 0.5rem center;
      background-size: .2rem .22rem;
      position: relative; }
      ol li:nth-of-type(2) span {
        width: 0.14rem;
        height: 0.22rem;
        background: url(../img/20160901144457_07.png) no-repeat;
        background-size: cover;
        position: absolute;
        top: 50%;
        margin-top: -0.11rem;
        font-size: 0;
        right: .3rem; }
    ol li:nth-of-type(3) {
      margin-top: 12px;
      border-bottom: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0;
      background: #fff; }

/*# sourceMappingURL=temple.css.map */
