@charset "utf-8";
@import url("reset.css");
%full{
	width:100%;
	height:100%;
	overflow:hidden;
}
a{
	text-decoration: none;
}
html{
	font-size:625%;
}
body{
	font-size:16px;
	font-family:"微软雅黑";
}
@mixin pos($p:relative){
	position:$p;
}
html,body,.container{
	@extend %full;
}
.container{
	display: -webkit-flex;
	-webkit-flex-direction:column;
}
.header{
	@include pos;
	z-index: 1000;
	width:100%;
	height:.88rem;
	background: #f0f0f0;
	border-bottom: 2px solid #dfdfdf;
	a{
		@include pos(absolute);
		top:.23rem;
		left:.3rem;
		width:.28rem;
		height:.38rem;
		background: url(../images/1_03.png) no-repeat;
		background-size: cover;
	}
	h1{
		text-align: center;
		line-height: .88rem;
	}
}

.main{
	-webkit-flex-grow:1;
	width:100%;
	height:100%;
	@include pos;
	.wrap{
		@include pos(absolute);
		width:100%;
		height:auto;
		h1{
			padding-top: .3rem;
			padding-left: .3rem;
		}
		p{
			padding-top: .3rem;
			padding-left: .3rem;
			line-height:1.5em;
		}
	}

}