@import url(style.css);
a {
  text-decoration: none;
  color: #3e3e3e; }

html, body, .wrap {
  width: 100%;
  height: 100%; }

html {
  font-size: 625%; }

.wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background: #ebe9ef; }

.header {
  width: 100%;
  height: .75rem;
  line-height: .75rem;
  background: #f7f7f7;
  position: relative;
  border-bottom: .01rem solid #ccc; }
  .header a:nth-of-type(1) {
    position: absolute;
    left: .1rem;
    top: .15rem;
    font-size: .5rem;
    color: #3dbfcc; }
  .header h1 {
    text-align: center;
    font-size: .3rem; }
  .header a:nth-of-type(2) {
    position: absolute;
    right: .1rem;
    top: .15rem;
    font-size: .5rem;
    color: #3dbfcc; }

input {
  width: 100%;
  height: .6rem;
  display: block;
  border: none;
  background: #fff;
  margin: .17rem 0;
  text-align: center; }

.main {
  width: 100%;
  -webkit-flex: 1;
  background: #fff;
  overflow-y: scroll; }
  .main .ma {
    width: 100%;
    height: auto; }
    .main .ma p {
      width: 100%;
      height: 1.76rem; }
      .main .ma p img {
        width: 100%;
        height: 100%; }
    .main .ma ul {
      width: 100%;
      display: -webkit-flex; }
      .main .ma ul li {
        -webkit-flex: 1;
        border-right: .01rem solid #ccc;
        text-align: center;
        font-size: .14rem;
        line-height: .8rem;
        border-bottom: .01rem solid #ccc; }
        .main .ma ul li:nth-of-type(3) {
          border-right: none; }
        .main .ma ul li a {
          color: #3e3e3e; }
    .main .ma dl {
      display: -webkit-flex; }
      .main .ma dl dt {
        -webkit-flex: 1;
        padding: .2rem; }
        .main .ma dl dt img {
          width: 100%;
          height: 100%; }
      .main .ma dl dd {
        -webkit-flex: 3;
        font-size: .14rem;
        padding: .2rem;
        line-height: .4rem;
        border-bottom: .01rem solid #ccc;
        position: relative; }
        .main .ma dl dd h2 {
          color: #3f3f3f;
          font-size: .25rem; }
        .main .ma dl dd h3 {
          font-weight: normal;
          color: #8e8d8d; }
        .main .ma dl dd h4 {
          color: #fa6c0f;
          font-size: .3rem;
          position: absolute;
          right: .5rem;
          bottom: .5rem; }

#pullDown, #pullUp {
  background: #fff;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 14px;
  color: #888; }

#pullDown .pullDownIcon, #pullUp .pullUpIcon {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: url(pull-icon@2x.png) 0 0 no-repeat;
  -webkit-background-size: 40px 80px;
  background-size: 40px 80px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms; }

#pullDown .pullDownIcon {
  -webkit-transform: rotate(0deg) translateZ(0); }

#pullUp .pullUpIcon {
  -webkit-transform: rotate(-180deg) translateZ(0); }

#pullDown.flip .pullDownIcon {
  -webkit-transform: rotate(-180deg) translateZ(0); }

#pullUp.flip .pullUpIcon {
  -webkit-transform: rotate(0deg) translateZ(0); }

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0); }
  to {
    -webkit-transform: rotate(360deg) translateZ(0); } }

/*# sourceMappingURL=inland.css.map */
